.bg-theme{
    background-color: #6f42c1;
}

header {

    background-color: indigo !important; 
}
.btn-primary {
    background-color: mediumpurple !important;
    border-color: mediumpurple !important;
}
.btn-secondary {
    background-color: mediumpurple !important;
    border-color: mediumpurple !important;
    float: right;
}