.bg-theme{
    background-color:  #87bdd8;
}

header {

    background-color: #6cb3d6;
}
.btn-primary {
    background-color: #6cb3d6 !important;
    border-color: #6cb3d6 !important;
}
.btn-secondary {
    background-color: #6cb3d6!important;
    border-color: #6cb3d6!important;
    float: right;
}

body {
    background-color: #87bdd8 !important;
}